<div class="search-form-container">
    <form id="searchForm" class="search-form">
        <label for="name">Planet Name:</label>
        <input type="text" id="name" name="name" placeholder="Enter planet name" value="{{query.name}}">

        <label for="solarSystem">Solar System:</label>
        <input type="text" id="solarSystem" name="solarSystem" placeholder="Enter solar system"
            value="{{query.solarSystem}}">

        <button type="submit">Search</button>
    </form>
</div>

<div id="searchResults" class="search-results hidden">
    <h2>Matching Planets:</h2>
    {{#each planets}}
    <div class="planet-result">
        <img src="{{image}}" alt="{{name}}" class="planet-img">
        <div class="planet-info">
            <p><strong>Name:</strong> {{name}}</p>
            <p><strong>Solar System:</strong> {{solarSystem}}</p>
            <a class="detail-btn" href="/planets/details/{{_id}}">Details</a>
        </div>
    </div>
    {{else }}
    <p class="no-matches">There are no planets found yet!</p>
    {{/each}}
</div>